@font-face {
    font-family: 'Moon Time Script';
    src:  url('../fonts/MoonTime-Regular.ttf') format('truetype');
  }

:root {
    --accent: #EBDED4;
    --second: #F2D2BD;
    --third: #DBC7BC;
    --fourth: #CBD0B5;
    --bg: #F7F2EB;
    --font: #C0987E;
    --sub: 'Moon Time Script';
    --title: 'cora', sans-serif;
    --copy: 'muli', sans-serif;
	--default-shadow: rgba(0, 0, 0, 0.25);
	--default-duration: 0.3s;
}


/* --------------
     General 
----------------- */

body {
    background-color: var(--bg);
    font-family: var(--copy);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--font);
}

main {
    flex: 1;
}

a {
    font-family: var(--title);
    font-size: 1em;
    color: var(--font);
    text-decoration: none;
}

h2 {
    font-family: var(--title);
    color: var(--font);
    font-weight: 500;
}

button.underline a {
    color: var(--fourth);
    border-bottom: solid 2px var(--fourth);
    text-transform: uppercase;
}

button.underline {
    margin-top: 15px;
}

/* --------------
      Layout 
----------------- */

.container.accent {
    background-color: var(--accent);
    box-sizing: border-box;
    width: 85%;
    padding: 8%;
    height: 275px;
}

.container.image img {
    width: 100%;
    object-fit: cover;
}

.container.image.home {
    width: 275px;
    height: 275px;
    float: right;
    margin-top: -65px;
}

.container.image.home img {
    width: 275px;
    height: 275px;
}

.container.main {
    min-height: 100vh;
}

.arrow {
    clear:both;
    text-align: center;
    padding-top: 50px;
}

/* --------------
    Navigation 
----------------- */

nav ul {
    list-style-type: none;
    color: var(--accent);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    z-index: 99;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding: 1.5em 0;
    flex-wrap: wrap;
}

ul.nav {
    display: flex;
    /* flex-direction: row; */
    list-style-type: none;
    text-transform: uppercase;
    width: 85%;
    margin-top: 30px;
}

ul.nav li {
    margin: .5em 0em;
    font-family: var(--title);
    font-weight: 500;
    font-size: 11px;
}

.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em auto 0;
}

button.hamburger {
    padding: 0;
}

/* @media (max-width: 1001px) {
    ul.nav {
        display: none;
        width: 100%;

    }
} */

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
}

nav a {
    text-transform: uppercase;
}

.active {
    color: var(--third) !important;
}

button:focus {
    outline: none;
}

.nav-mobile {
    background-color: var(--accent);
    min-height: 94%;
    width: 90%;
    position: absolute;
    top: 0;
    left: -100%;
}

/* How container should look when open

.nav-mobile {
    background-color: var(--accent);
    min-height: 93vh;
    width: 50vh;
    position: absolute;
    top: 0;
} */

.mobile {
    padding-top: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    fill: var(--font);
    width: 40px;
}

button.close svg {
    width: 30px;
}

ul#nav li a {
    font-size: 1.77em;
}

ul#nav li {
    margin: 15px;
}

.social.mobile {
    justify-content: flex-start;
}

.social.mobile svg {
    fill: var(--font);
    width: 20px;
}


/* --------------
      Footer 
----------------- */

footer {
    background-color: var(--accent);
    padding: 40px 0;
    text-align: center;
    margin-top: 50px;
}

ul.social {
    display: flex;
    list-style-type: none;
    text-align: center;
    justify-content: center;
}

ul.social li {
    margin: 0 7px;
}

ul.social svg {
    fill: var(--third);
    width: 23px;
}