@font-face {
    font-family: 'Moon Time Script';
    src:  url('../fonts/MoonTime-Regular.ttf') format('truetype');
  }

:root {
    --accent: #EBDED4;
    --second: #F2D2BD;
    --third: #DBC7BC;
    --fourth: #CBD0B5;
    --bg: #F7F2EB;
    --font: #C0987E;
    --sub: 'Moon Time Script';
    --title: 'cora', sans-serif;
    --copy: 'muli', sans-serif;
	--default-shadow: rgba(0, 0, 0, 0.25);
	--default-duration: 0.3s;
}


/* --------------
     General 
----------------- */

body {
    background-color: var(--bg);
    font-family: var(--copy);
}

a {
    font-family: var(--title);
    font-size: 1em;
    color: var(--font);
    text-decoration: none;
}


/* --------------
    Navigation 
----------------- */

nav ul {
    list-style-type: none;
    color: var(--accent);
    display: flex;
    justify-content: space-evenly;
    padding: 1.5em 0;
    z-index: 99;
}

.nav-desktop {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    padding: 1.5em 0;
    flex-wrap: wrap;
}

ul.nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
}

ul.nav li {
    margin: .5em 0em;
    font-family: var(--title);
    font-weight: 500;
    font-size: 11px;
}

.show {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1em auto 0;
}

button.hamburger {
    padding: 0;
}

@media (max-width: 1001px) {
    ul.nav {
        display: none;
        width: 100%;

    }
}

@media (min-width: 1000px) {
    .hamburger {
        display: none;
    }
}

nav a {
    text-transform: uppercase;
}

.active {
    color: var(--third) !important;
}

button:focus {
    outline: none;
}

.nav-mobile {
    background-color: var(--accent);
    min-height: 94%;
    width: 90%;
    position: absolute;
    top: 0;
    left: -100%;
}

/* How container should look when open

.nav-mobile {
    background-color: var(--accent);
    min-height: 93vh;
    width: 50vh;
    position: absolute;
    top: 0;
} */

.mobile {
    padding-top: 1.5em;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

svg {
    fill: var(--font);
    width: 40px;
}

button.close svg {
    width: 30px;
}

